body{
    background-color: #F27F3D;
}
/* estilos vista login */
.login {
    background-color: #BF5A36;
  }

  .h1-titulo{
    font-family: "Calisto MT", serif;
    font-size: 50px;
    font-weight: bold;
  }
  .campos{
    font-family: "Calisto MT", serif;
    font-size: 20px;
    font-weight: bold;
  }
  /* fin vista estilos login */

  table {
    margin: 0 auto;
  }

  .titulo {
    margin: 0 auto;
  }

  @media only screen and (min-width: 768px) {
    #navbarMenu {
      display: flex !important;
    }
    #hamburgerBtn {
      display: none;
    }
  }
/* estilos para html ajustar_producto */
.destacado {
    border: 2px solid yellow;
    background-color: #FFFFCC;
}
  