{% extends 'dashboard.html' %}

{% block content %}

<h2 class="text-4xl font-bold dark:text-white">Entrada de Productos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<br>
    <form class="bg-white" method="POST" action="">

        <label for="default-search" class="text-xl mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
        <div class="relative">
            <div class="text-xl absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <input type="text" id="searchInput" class="text-xl block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar producto..." required>
        </div>
        <button type="button" id="buscar" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Buscar</button>
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="nombre">Nombre producto</label>
            <input type="text" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="nombre" name="nombre" value="" required placeholder="Nombre">
        </div>
        <div>
            <input type="hidden" name="id_producto" id="id_producto" value="">
        </div>
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="descripcion">Descripción</label>
            <input type="text" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="descripcion" name="descripcion" value="" required placeholder="Descripción">
        </div>
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="existencia">Existencia</label>
            <input type="number" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="existencia" name="existencia" value=""required placeholder="Existencia">
        </div>

        <div class="mb-6 destacado">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="new_existencia">Ajustar cantidad de entrada de productos</label>
            <input type="number" class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="new_existencia" name="new_existencia" value="" required placeholder="ajustar Existencia nueva">
        </div>

        <button type="button" id="editar" name="editar" class="text-xl text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Editar</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
        var total = 0

		$(document).ready(function() {
			$("#buscar").click(function() {
				var buscar_nombre = $("#searchInput").val();
				$.ajax({
					type: "POST",
					url: "/buscar_nombre",
					data: {
                        buscar_nombre: buscar_nombre
                    },
					dataType: "json",
					success: function(data) {
                        console.log(data)
                        const nombre = document.getElementById("nombre");
                        const descripcion = document.getElementById("descripcion");
                        const existencia = document.getElementById("existencia");
                        const id_product= document.getElementById("id_producto");

                        if (data){
                            console.log("este es el id:"+data.id)
                            id_product.value = data.id
                            nombre.value = data.nombre;
                            descripcion.value = data.descripcion;
                            existencia.value = data.cantidad;
                        }
                        else {
                            nombre.value = "";
                            id_product.value = ""
                            descripcion.value = "";
                            existencia.value = "";
                            alert("Producto no encontrado, verifica la busqueda..!")
                        }
					}
				});
			});
		});

        var editarButton = document.getElementById("editar");

        var editarButton = document.getElementById("editar");

editarButton.addEventListener("click", function() {
  var id_product = document.getElementById("id_producto").value;
  var new_existencia = document.getElementById("new_existencia").value;

  var data = {
    new_existencia: new_existencia,
    movimiento: "entrada"
  };

  fetch("/productos/" + id_product + "/editar", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })
  .then(function(response) {
    return response.json();
  })
  .then(function(data) {
    if (data.message === "ok") {
      var nombre = document.getElementById("nombre");
      var descripcion = document.getElementById("descripcion");
      var existencia = document.getElementById("existencia");
      var new_existencia = document.getElementById("new_existencia");
      var buscar_nombre = document.getElementById("searchInput");

      nombre.value = "";
      descripcion.value = "";
      existencia.value = "";
      new_existencia.value="";
      buscar_nombre.value="";

      alert("Cantidad actualizada correctamente..!");
    }
  })
  .catch(function(error) {
    console.error(error);
  });
});

	</script>

{% endblock %}