{% extends 'dashboard.html' %}

{% block content %}

<h2 class="text-4xl font-bold dark:text-white">Salida de Productos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
<br>
    <form class="bg-white" method="POST" action="">
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="nombre">Nombre producto</label>
            <input type="text" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="nombre" name="nombre" value="{{ producto.nombre_producto }}" required placeholder="Nombre">
        </div>
        <div>
            <input type="hidden" name="id_producto" id="id_producto" value="{{ producto.id }}">
        </div>
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="descripcion">Descripción</label>
            <input type="text" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="descripcion" name="descripcion" value="{{ producto.descripcion }}" required placeholder="Descripción">
        </div>
        <div class="mb-6">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="existencia">Existencia</label>
            <input type="number" readonly class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="existencia" name="existencia" value="{{ producto.cantidad}}"required placeholder="Existencia">
        </div>

        <div class="mb-6 destacado">
            <label class="text-xl block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="new_existencia">Ajustar cantidad de salida de productos</label>
            <input type="number" class="text-xl font-bold bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="new_existencia" name="new_existencia" value="" required placeholder="ajustar Existencia nueva">
        </div>

        <button type="button" id="editar" name="editar" class="text-xl text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Editar</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
        var total = 0

        var editarButton = document.getElementById("editar");

        var editarButton = document.getElementById("editar");

        editarButton.addEventListener("click", function() {
        var id_product = document.getElementById("id_producto").value;
        var new_existencia = document.getElementById("new_existencia").value;

        var data = {
            new_existencia: new_existencia,
            movimiento: "entrada"
        };

        fetch("/productos/" + id_product + "/editar", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if (data.message === "ok") {
            var nombre = document.getElementById("nombre");
            var descripcion = document.getElementById("descripcion");
            var existencia = document.getElementById("existencia");
            var new_existencia = document.getElementById("new_existencia");

            nombre.value = "";
            descripcion.value = "";
            existencia.value = "";
            new_existencia.value="";

            alert("Cantidad actualizada correctamente..!");
            }
        })
        .catch(function(error) {
            console.error(error);
        });
        });

	</script>

{% endblock %}