<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    
  </head>
  <body>

    
    <nav class="bg-white border-gray-200 dark:bg-gray-900 " id="navbarNav">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
          <a href="#" class="flex items-center">
              📒📒
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Don Felix Inventario</span>
          </a>
          <div class="flex items-center">
            <!-- <a href="{{ url_for('logout') }}" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" onclick="return confirm('¿Está seguro que desea cerrar sesión?') " >❌salir</a> -->
            <a href="{{ url_for('logout') }}" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" onclick="return confirm('¿Está seguro que desea cerrar sesión?', 'Cerrar sesión', 'Sí', 'No')">
              ❌Salir
              <span class="text-sm text-blue-600 dark:text-blue-500 hover:">{{ session['nombre_usuario'] }} </span>
            </a>
          </div>
         
          <button class="flex items-center block px-3 py-2 text-gray-500 border border-gray-600 rounded md:hidden" id="hamburgerBtn">
              <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
                  <path id="hamburgerIcon" d="M4 6h16M4 12h16M4 18h16"></path>
                  <path id="closeIcon" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
          </button>
      </div>
    
      <div class="max-w-screen-xl px-4 py-3 mx-auto hidden flex justify-center " id="navbarMenu">
          <div class="flex justify-center   sm:flex-row">
              <ul class="flex flex-col sm:flex-row   font-medium mt-0 mr-6 mb-4 sm:mb-0 space-y-4 sm:space-y-0 sm:space-x-8 text-sm">
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('dashboard') }}">Dashboard</a>
                  </li>
                  {% if session['tipo_usuario'] == "administrador"%}
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('productos') }}">Productos</a>
                  </li>
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('bodegas') }}">Bodega</a>
                  </li>
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('proveedores') }}">Proveedores</a>
                  </li>
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('usuarios') }}">Usuarios</a>
                  </li>
                  {% endif %}
                  <li>
                      <a class="nav-link text-2xl" href="{{ url_for('movimientos') }}">Movimientos</a>
                  </li>
                  {% if session['tipo_usuario'] == "administrador"%}
                  <li>
                    <a class="nav-link text-2xl" href="{{ url_for('categorias') }}">Categorias</a>
                </li>
                {% endif%}
              </ul>
    
          </div>
      </div>
    </nav>
    <br>

    <div class="grid gap-2 justify-items-center items-center ">
      
        <!-- Contenido de la columna 1 -->
        <div class="flex flex-flex  ">
          <div class="w-48 bg-gray-800 text-gray-100 py-8 ">
            <div class="flex flex-col  ">
              <h2 class="text-xl font-bold dark:text-white text-center text-2xl">Movimientos</h2>
              {% if session['tipo_usuario'] == "administrador"%}
              <a class="justify-items-center items-center text-white  from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm py-2.5 text-center text-xl " href="{{ url_for('entradas') }}">Entrada</a>
              {% endif%}
              <br>
              <a class="justify-items-center items-center text-white  from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm  py-2.5 text-center text-xl " href="{{ url_for('salida') }}">Salida</a>
              <br>
              <a class="justify-items-center items-center text-white  from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm  py-2.5 text-center text-xl " href="/generar_pdf/1">Ver Codigo QR</a>
            </div>
          </div>
          <div class="">
            <!-- Contenido principal aquí -->
            <div class="w-full h-full mx-auto relative bg-white bg-opacity-25 backdrop-filter backdrop-blur-lg border-4 border-white border-opacity-25 shadow-md rounded-lg">
              {% block content %}
      
              <div class="container mt-5">

               <div>
                 <div id="clock">
                   <span class="font-extrabold" id="time"></span>
                   <br>
                   <span class="font-extrabold" id="date"></span>
                 </div>
               </div>
               <h1 class="titulo text-2xl font-bold text-gray-900 sm:text-3xl font-bold">Productos con Stock minimo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
         
               <div class="relative overflow-x-auto ">
               <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 " id="table">
                 <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
                 <tr class="">
                   <th class="text-xl">ID</th>
                   <th class="text-xl">Nombre</th>
                   <th class="text-xl">Descripción</th>
                   <th class="text-red-500 text-xl">Cantidad</th>
                   <th class="text-xl">Cantidad mínima</th>
                   <th class="text-xl">Ajustar cantidad</th>
                 </tr>
               </thead>
               <tbody>
                 {% for producto in productos %}
                   <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                     <td class="font-bold bg-white text-xl">{{ producto[0] }}</td>
                     <td class="font-bold bg-white text-xl">{{ producto[1] }}</td>
                     <td class="font-bold bg-white text-xl">{{ producto[2] }}</td>
                     <td class="text-red-500 font-bold bg-white text-xl">{{ producto[5] }}</td>
                     <td class="font-bold bg-white text-xl">{{ producto[6] }}</td>
                     <td class="px-6 py-4 font-bold bg-white text-xl"><a href="/productos/{{ producto[0] }}/salida_producto" class=" text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Ajustar cantidad</a></td>
                   </tr>
                 </tbody>
                 {% endfor %}
               </table>
             </div>
             <script>
                function updateTime() {
                  var now = new Date();
                  var hours = now.getHours();
                  var minutes = now.getMinutes();
                  var seconds = now.getSeconds();
                  var day = now.getDate();
                  var month = now.getMonth() + 1;
                  var year = now.getFullYear();
            
                  // Agrega un 0 antes si el número es menor que 10
                  if (hours < 10) {
                    hours = "0" + hours;
                  }
                  if (minutes < 10) {
                    minutes = "0" + minutes;
                  }
                  if (seconds < 10) {
                    seconds = "0" + seconds;
                  }
                  if (day < 10) {
                    day = "0" + day;
                  }
                  if (month < 10) {
                    month = "0" + month;
                  }
            
                  // Actualiza la hora y fecha en la página
                  document.getElementById("time").innerHTML = hours + ":" + minutes + ":" + seconds;
                  document.getElementById("date").innerHTML = day + "/" + month + "/" + year;
                }
            
                // Actualiza la hora cada segundo
                setInterval(updateTime, 1000);
              </script>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
             {% endblock %}
               </div>
              <script>
                $(document).ready(function() {
                    var tabla = $('#table').DataTable({
                        "pagingType": "full_numbers",
                        "pageLength": 10,
                        "lengthMenu": [10, 25, 50],
                        "searching": true,
                        "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                  }
            
                    });
                    
                    $('#searchInput').on('keyup', function() {
                        tabla.search(this.value).draw();
                    });
                    });
            </script>
               <br>
         
              </div>
          </div>
        </div>
      
      
    </div>

    

    
     <style>
      #clock {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #333;
    }

    #time {
      display: inline-block;
      margin-right: 1em;
    }

    #date {
      display: inline-block;
    }
  </style>
</html>