<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-luY+QeIqH3V9a9gJzmk7V57R65ZuN7NfhK1/wuJG5H2q3vcTYJSX/Je74zO5KLmOF0ZIeHmGQ2jKw+Eix0YcEg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    
    
  </head>
  <body>

    
    <nav class="bg-white border-gray-200 dark:bg-gray-900 " id="navbarNav">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
          <a href="#" class="flex items-center">
              📒📒
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Don Felix Inventario</span>
          </a>
          <div class="flex items-center">
              <a href="#" class="text-sm text-blue-600 dark:text-blue-500 hover:underline">❌salir </a>
              
          </div>
          <button class="flex items-center block px-3 py-2 text-gray-500 border border-gray-600 rounded md:hidden" id="hamburgerBtn">
              <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
                  <path id="hamburgerIcon" d="M4 6h16M4 12h16M4 18h16"></path>
                  <path id="closeIcon" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
          </button>
      </div>
    
      <div class="max-w-screen-xl px-4 py-3 mx-auto hidden flex justify-center " id="navbarMenu">
          <div class="flex justify-center   sm:flex-row">
              <ul class="flex flex-col sm:flex-row   font-medium mt-0 mr-6 mb-4 sm:mb-0 space-y-4 sm:space-y-0 sm:space-x-8 text-sm">
                  <li>
                      <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                  </li>
                  <li>
                      <a class="nav-link" href="{{ url_for('productos') }}">Productos</a>
                  </li>
                  <li>
                      <a class="nav-link" href="{{ url_for('bodegas') }}">Bodega</a>
                  </li>
                  <li>
                      <a class="nav-link" href="{{ url_for('proveedores') }}">Proveedores</a>
                  </li>
                  <li>
                      <a class="nav-link" href="{{ url_for('usuarios') }}">Usuarios</a>
                  </li>
                  <li>
                      <a class="nav-link" href="{{ url_for('movimientos') }}">Movimientos</a>
                  </li>
              </ul>
    
          </div>
      </div>
    </nav>
    <br>


   

    <div class="w-4/5 h-full mx-auto relative bg-white bg-opacity-25 backdrop-filter backdrop-blur-lg border-4 border-white border-opacity-25 shadow-md rounded-lg">
      {% block content %}
     <div class="container mt-5">
<!-- 
      <div class="w-72 h-72 bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg"></div> -->
      <div>
        <div id="clock">
          <span id="time"></span>
          <br>
          <span id="date"></span>
        </div>
      </div>
      <h1 class="titulo">Productos con stock minimos</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Cantidad mínima</th>
          <th>Ajustar cantidad</th>
        </tr>
        {% for producto in productos %}
          <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[5] }}</td>
            <td>{{ producto[6] }}</td>
            <td class="px-6 py-4"><a href="/productos/{{ producto[0] }}/editar" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Ajusatr cantidad</a></td>
          </tr>
        {% endfor %}
      </table>
      </div>
      <br>

     </div>
     <style>
      #clock {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #333;
    }

    #time {
      display: inline-block;
      margin-right: 1em;
    }

    #date {
      display: inline-block;
    }
  </style>

  <script>
    function updateTime() {
      var now = new Date();
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var seconds = now.getSeconds();
      var day = now.getDate();
      var month = now.getMonth() + 1;
      var year = now.getFullYear();

      // Agrega un 0 antes si el número es menor que 10
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      if (day < 10) {
        day = "0" + day;
      }
      if (month < 10) {
        month = "0" + month;
      }

      // Actualiza la hora y fecha en la página
      document.getElementById("time").innerHTML = hours + ":" + minutes + ":" + seconds;
      document.getElementById("date").innerHTML = day + "/" + month + "/" + year;
    }

    // Actualiza la hora cada segundo
    setInterval(updateTime, 1000);
  </script>
   
      {% endblock %}
    </div>
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
  </body>
  
</html>