<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <!-- Carga los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    
  </head>
  <body>
    <!-- <div class="container">
      <h1>Bienvenido a mi aplicación</h1>
      <p>Por favor, ingresa tus credenciales para iniciar sesión:</p>
      <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
          <label for="username">Nombre de usuario:</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div> -->
    <!-- Section: Design Block -->


<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  
  <div class="card mb-2 login">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-3 ">
        <img src="https://i.pinimg.com/750x/1f/25/64/1f25649af6293282523cb4c55390ca98.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-4 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <p class="h1-titulo">Ferreteria Fenix</p>
        <div class="card-body py-5 px-md-5">

          <form action="{{ url_for('login') }}" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="campos" for="username">Nombre de usuario:</label>
          <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="campos" for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <!-- 2 column grid layout for inline styling -->           
              <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
             
           

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
<!-- Section: Design Block -->
    <!-- Carga los archivos JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>