{% extends 'dashboard.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Buscar movimientos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
		<h1>Buscar movimientos</h1>
		<form>
			<div class="form-group">
				<label for="tipo_movimiento">Tipo de movimiento:</label>
				<select id="tipo_movimiento" name="tipo_movimiento" class="form-control">
					<option value="todo">Todo</option>
					<option value="entrada">Entrada</option>
                    <option value="salida">Salida</option>
				</select>
			</div>
            <div>
                <label for="mi-checkbox">buscar por rango de fecha:</label>
                <input type="checkbox" id="mi-checkbox">
            </div>
            <div id="fechas" style="display:none;">
                <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio:</label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
                </div>
                <div class="form-group">
                <label for="fecha_fin">Fecha de fin:</label>
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
                </div>
            </div>
            <button type="button" id="buscar" class="btn btn-primary">Buscar</button>
            <label for="total_venta">total ventas:</label>
            <input type="text" class="form-control-sm" id="total_venta" name="total_venta" disabled>
            <label for="total_invertido">total invertido:</label>
            <input type="text" class="form-control-sm" id="total_invertido" name="total_invertido" disabled>
          <br>
          <br>
		</form>
		<table id="tabla_movimientos" class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>producto</th>
                    <th>precio venta</th>
                    <th>precio compra</th>
					<th>bodega</th>
					<th>Cantidad</th>
					<th>movimiento</th>
					<th>fecha</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
        var total = 0
		$(document).ready(function() {
			$("#buscar").click(function() {
				var tipo_movimiento = $("#tipo_movimiento").val();
                var fecha_inicio = $("#fecha_inicio").val();
                var fecha_fin = $("#fecha_fin").val();
				$.ajax({
					type: "POST",
					url: "/movimientos",
					data: {
                        tipo_movimiento: tipo_movimiento,
                        fecha_inicio: fecha_inicio,
                        fecha_fin: fecha_fin
                    },
					dataType: "json",
					success: function(data) {
                        console.log(data)
                        var total_venta = 0
                        var total_invertido = 0
						$("#tabla_movimientos tbody").empty();
                        const total_venta_input = document.getElementById("total_venta");
                        total_venta_input.value = 0

                        const total_invertido_input = document.getElementById("total_invertido");
                        total_invertido_input.value = 0
						$.each(data, function(index, value) {
							$("#tabla_movimientos tbody").append("<tr><td>" + value.id + "</td><td>" + value.id_producto + "</td><td>" + value.precio_venta + "</td><td>" + value.precio_compra + "</td><td>" + value.id_bodega + "</td><td>" + value.cantidad + "</td><td>" + value.tipo_movimiento + "</td><td>" + value.fecha + "</td><</tr>");
                            if (value.tipo_movimiento === "entrada"){
                                console.log(value.precio_compra)
                                total_invertido = total_invertido + value.total_compra
                                console.log(total_invertido)
                                total_invertido_input.value = total_invertido
                            }
                            if(value.tipo_movimiento === "salida"){
                                total_venta = total_venta + value.total_venta
                                total_venta_input.value = total_venta
                            }

                        });
					}
				});
                console.log(`total de la venta:`+total)
			});
		});
	</script>
     <script>
		const miCheckbox = document.getElementById("mi-checkbox");
        const miElemento = document.getElementById("fechas");
        const fecha_inicio = document.getElementById("fecha_inicio");
        const fecha_fin = document.getElementById("fecha_fin");

        miCheckbox.addEventListener("change", function() {
            if (this.checked) {
                miElemento.style.display = "block";
            } else {
                miElemento.style.display = "none";
                fecha_inicio.value = ""
                fecha_fin.value = ""
            }
        });
    </script>
{% endblock %}