

 {% extends 'dashboard.html' %}

{% block content %}
<h2 class="text-4xl font-bold dark:text-white">Archivos PDF disponibles en el servidor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <br>
    <div class="container bg-white">
    {% for archivo_pdf in archivos_pdf %}
    <p class="font-bold text-2xl">Descargar</p>
      
       <a class="text-2xl bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500" href="{{ url_for('descargar_pdf', nombre_archivo=archivo_pdf) }}">{{ archivo_pdf }}</a>
       <br>
    {% endfor %}
  </div>
    
{% endblock %}
