{% extends 'dashboard.html' %}

{% block content %}
    <h1>Productos con stock minimo</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Cantidad mínima</th>
        <th>Ajustar cantidad</th>
      </tr>
      {% for producto in productos %}
        <tr>
          <td>{{ producto[0] }}</td>
          <td>{{ producto[1] }}</td>
          <td>{{ producto[2] }}</td>
          <td>{{ producto[5] }}</td>
          <td>{{ producto[6] }}</td>
          <br>
          <td class="px-6 py-4"><a href="/productos/{{ producto[0] }}/editar" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Ajusatr cantidad</a></td>
        </tr>
      {% endfor %}
    </table>
 
</html>
{% endblock %}